<header class="q_header">
  <div class="q_element q_logo" style="width: 260px">
    <%= link_to "Questionz", root_path %>
  </div>

  <div class="q_element q_margin_right_20">
    <% if user_signed_in? %>
      <%= render "shared/header/logged" %>
    <% else %>
      <%= render "shared/header/not_logged" %>
    <% end %>
  </div>
</header>
