
<%= link_to current_user.username, edit_user_registration_path, class:"btn btn-primary" %>
<%= link_to "Results", results_path, class: "btn btn-warning" %>

<%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
