<div class="log_container"> 
  <h2>Profile</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <div class="log_field log_field_column">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="log_field log_field_column">
      <%= f.label :username %>
      <%= f.text_field :username%>
    </div>

    <div class="log_field log_field_column">
      <%= f.label "New password" %>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "#{@minimum_password_length} characters minimum" %>
    </div>

    <div class="log_field log_field_column">
      <%= f.label "Confirmation" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="log_field log_field_column">
      <label>Confirm your changes with your current password</label> 
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="log_field log_actions">
      <%= f.submit "Update", class: "btn btn-success" %>
    </div>
  <% end %>

  <h3>Delete my account</h3>

  <p>Unhappy? <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>
</div>
