<div class="log_container">  

  <h2>Sign In</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <div class="log_field log_field_column">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="log_field log_field_column">
      <%= f.label :username %>
      <%= f.text_field :username%>
    </div>

    <div class="log_field log_field_column">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "#{@minimum_password_length} characters minimum" %>
    </div>

    <div class="log_field log_field_column">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="log_field log_actions">
      <%= f.submit "Sign In",  class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
