<div class="log_container"> 
  <h2 style="text-align: center;">Change your password</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.hidden_field :reset_password_token %>

    <div class="log_field log_field_column">
      <%= f.label :password, "New password" %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: "#{@minimum_password_length} characters minimum" %>
    </div>

    <div class="log_field log_field_column">
      <%= f.label :password_confirmation, "Confirm new password" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="log_field log_actions">
      <%= f.submit "Change my password", class: "btn btn-primary"  %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
