<div class="log_container"> 
  <h2 style="text-align: center;">Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

    <div class="log_field log_field_column">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="log_field log_actions">
      <%= f.submit "Send me reset password instructions", class: "btn btn-primary"  %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
