<div class="log_container">
  <h2>Edit Question Set</h2>
  <%= form_with model: @question_set do |f|%>

    <div class="log_field log_field_column">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="log_field log_actions">
      <%= f.submit "Update title", class: "btn btn-success" %>
    </div>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th colspan="4" class="q_align_center">Questions</th>
      <th class="q_align_center">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @question_set.questions.each do |question| %>
      <tr>
        <td colspan="4" class="q_ellipsis"><%= question.title %></td>
        <td><%= link_to 'Destroy', question_set_question_path(@question_set, question), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="log_container">
  <h2>Add New Question</h2>
  <%= form_with model: Question.new, url: question_set_questions_path(@question_set) do |f|%>

    <div class="log_field log_field_column">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="log_field log_field_column">
      <%= f.label :answer %>
      <%= f.text_field :answer %>
    </div>

    <% 3.times do |i| %>
      <div class="log_field log_field_column">
        <%= f.label "proposals".to_sym %>
        <%= f.text_field "proposal_#{i}".to_sym  %>
      </div>
    <% end %>

    <div class="log_field log_actions">
      <%= f.submit "Submit", class: "btn btn-success"  %>
    </div>
  <% end %>
</div>
