<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @question_sets.each do |question_set| %>
      <tr>
        <td><%= question_set.title %></td>
        <td><%= link_to 'Edit', edit_question_set_path(question_set) %></td>
        <td><%= link_to 'Destroy', question_set_path(question_set), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="log_container">  
  <%= form_with model: @question_set do |f| %>
    <div class="log_field log_field_column">
      <%= f.label "New Question Set" %>
      <%= f.text_field :title, placeholder: "Title" %>
    </div>

    <div class="log_field log_actions">
      <%= f.submit "Submit",  class: "btn btn-primary" %>
    </div>
  <% end %>
</div>