<% if notice.present? %>
  <p class="q_notice"><%= notice %></p>
<% end %>
<% if alert.present? %>
  <p class="q_alert"><%= alert %></p>
<% end %>
<% if defined?(resource) %>
  <%= render "devise/shared/error_messages", resource: resource%>
<% end %>