<div class="log_container">
  
  <%= form_with model: @game, url: finish_path(@game), method: :post do |f|%>
    <h2><%= @game.question_set.title %></h2>

    <% @game.question_set.questions.each_with_index do |question, i| %>
      <div class="log_field" style="flex-direction: column;margin: 10px 0;">
        <p><%= question.title %></p>

        <div class="q_picks">
          <% question.picks.each do |pick|%>
            <div class="btn q_pick">
              <%= f.label("answer", pick) %>
              <%= f.radio_button "question#{i}", pick, class: "btn btn-success" %> 
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="log_field log_actions">
      <%= f.submit "Submit", class: "btn btn-success" %>
    </div>
  <% end %>
</div>
