<table>
  <thead>
    <tr>
      <th>Question Set</th>
      <th>Result</th>
    </tr>
  </thead>

  <tbody>
    <% if @games.empty? %>
      <tr>
        <td>No games</td>
        <td>Played</td>
      </tr>
    <% else %>
      <% @games.each do |game| %>
        <tr>
          <td><%= game.question_set.title %></td>
          <td><%= game.result || "Not finished" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

