<div class="q_page_container">
  <h1>Hello there</h1>
  <br><br>
  <%= link_to "Play New Game", new_game_path, class: "btn btn-success" %>
  <br><br><br>
  <%= link_to "Add/Edit Question Sets", question_sets_path, class: "btn btn-warning" %>
</div>
