<div class="log_container">    
  <h2>Log In</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="log_field log_field_column">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="log_field log_field_column">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="log_field log_field_line">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="log_field log_actions">
      <%= f.submit "Log In", class: "btn btn-warning" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>  