// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$q_green: #198754;
$q_red: #dc3545;
$q_blue_body: #f3f9fe;
$q_blue_header: #e3f2fd;
$q_blue_footer: #cbe7fb;
$q_cyan: #0dcaf0;
$q_blue_dark: #031633;

body {
  height: 100vh;
  background-color: $q_blue_body;
  margin:0;
}

a {
  color: $q_blue_dark;
  text-decoration: none;

  &:hover {
    color: #0d6efd;
  }
}

.q_align_center {
  text-align: center;
}

.q_header {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: $q_blue_header;
  
  .q_element {
    margin: 10px 0;
  }

  .q_logo {
    font-size: 40px;
  }
}

.q_page_container {
  height: fit-content;
  min-height: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
} 

.log_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 100%;
  margin: 20px 0;

  h2 { @extend .q_align_center }

  .log_field {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 5px 0;
  }

  .log_field_column {
    flex-direction: column;
    height: 60px; 
  }

  .log_field_line {
    justify-content: space-around;
    height: 40px;
  }

  .log_actions {
    justify-content: center;
    height: 40px;
  }

  .q_picks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 300px;

    .q_pick {
      background-color: $q_blue_header; 
    }
  }
}

.list_links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height:20px;

  br {
    line-height:10px;
  }
}

.q_margin_right_20 {
  margin-right: 20px;
}

.q_footer {
  height: 80px;
  bottom: 0;
  background-color: $q_blue_footer;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.q_notice {
  text-align: center;
  width: 100%;
  color: #fff;
  background-color: $q_green;
  padding: 10px 0;
  border-radius: 0 0 4px 4px;
}

.q_alert {
  text-align: center;
  width: 100%;
  color: #fff;
  background-color: $q_red; 
  padding: 10px 0;
  border-radius: 0 0 4px 4px;
}

.q_ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 300px;
}

@media (max-width: 500px) {
  .q_header {
    flex-direction: column;
    height: 20vh;
  }
}




